 @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*Krona One y Fuente Montserrat*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;
}

strong{
    color: #22D4FD;
}

.presentacion {
    align-items: center;
    display: flex;
    margin: 10vh;
    justify-content: space-between;
}

.presentacion_contenido {
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion_contenido_texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion_contenido_enlaces {
    display: flex;
    justify-content: space-between;
    /*margin-top: 30px;*/
    /* margin-left: 100px;
    margin-right: 100px;  */
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
}

.presentacion_contenido_enlaces_subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion_contenido_enlaces_link {
    /*Medidas internas del boton*/
    width: 381px;
    padding-top: 21.5px;
    padding-bottom: 21.5px;

    /*Todo lo relacionado a las letras*/
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none; /*elimina el subrayado de los links */
    color: #F6F6F6; /*color de la letras*/
    
    /*Lo relaciado a como se muestra el borde*/
    border-radius: 8px;
    border: 2px solid #22D4FD; /*Borde con 2px de ancho, solid y color*/

    /*Como acomodamos el contenido dentro del boton (imagen y texto)*/
    display: flex;
    justify-content: center;
    gap: 10px;
}