 @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*Krona One y Fuente Montserrat*/

:root {
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-tercerio:  #22D4FD;
    --fuente-monserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
    --color-hover:  #272727;
    --font-size-default: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
}

.header {
    padding: 2% 0% 0% 15%
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-monserrat);
    font-size: var(--font-size-default);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-tercerio);
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

strong{
    color: var(--color-tercerio);
}

.presentacion {
    align-items: center;
    display: flex;
    padding: 5% 15%;
    justify-content: center;
    gap: 82px;
}

.presentacion_contenido {
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.presentacion_contenido_texto {
    font-size: var(--font-size-default);
    font-family: var(--fuente-monserrat);
}

.presentacion_contenido_enlaces {
    display: flex;
    justify-content: space-between;
    /*margin-top: 30px;*/
    /* margin-left: 100px;
    margin-right: 100px;  */
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
}

.presentacion_contenido_enlaces_subtitulo {
    font-family: var(--fuente-krona);
    font-size: var(--font-size-default);
    font-weight: 400;
}

.presentacion_contenido_enlaces_link {
    /*Medidas internas del boton*/
    width: 381px;
    padding-top: 21.5px;
    padding-bottom: 21.5px;

    /*Todo lo relacionado a las letras*/
    font-family: var(--fuente-monserrat);
    font-size: var(--font-size-default);
    font-weight: 600;
    text-decoration: none; /*elimina el subrayado de los links */
    color: var(--color-secundario); /*color de la letras*/
    
    /*Lo relaciado a como se muestra el borde*/
    border-radius: 8px;
    border: 2px solid var(--color-tercerio); /*Borde con 2px de ancho, solid y color*/

    /*Como acomodamos el contenido dentro del boton (imagen y texto)*/
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* ahora a los botones le agregamos la propiedad de hover */
.presentacion_contenido_enlaces_link:hover {
    background-color: var(--color-hover);
}

.footer {
    background-color: var(--color-tercerio);
    color: var(--color-primario);

    display: flex;
    justify-content: center;
    padding: 23.64px;

    font-size: var(--font-size-default);
    font-family: var(--fuente-monserrat);
    font-weight: 400;
}